html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 52px;
}


#Layout_Main {
    color:#777;
}

#Layout_Main code {
    background-color: inherit;
}

.footer {
    bottom: 0;
    height: 52px;
    position: absolute;
    width: 100%;
}