html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 52px;
}

#Layout_Landing {
    color:#777;
}

#Layout_Landing code {
    background-color: inherit;
}

#Layout_Landing ul li {
    list-style-type: circle;
}

.footer {
    bottom: 0;
    height: 52px;
    position: absolute;
    width: 100%;
}