.handbook-sidebar .nav > li > a {
    color: #767676;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 20px;
}

.handbook-sidebar .nav .nav {
    /*display: none;*/
    padding-bottom: 10px;
}